.minicart-item {
    display: flex;
    height: 8.56rem;
    margin-top: 1.28rem;
    margin-bottom: 1.28rem;

    .minicart-item-main {
        display: flex;
        width: 100%;
    }

    .left {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .minicart-item-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
    }

    .minicart-item-row {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: auto;

        // Outline is cut off on the left side. This is a fix for that.
        button.swatch.selected:first-child {
            margin-left: 3px;
        }
    }

    .minicart-item-image {
        margin-left: auto;
        width: 6.625rem;
        height: 100%;
        min-height: 8.56rem;
        object-fit: cover;
    }

    .minicart-item-name {
        margin: 0;
    }
}