.currency-selector-wrapper {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    // Disable accidental highlighting
    user-select: none;

    .currency-sign {
        font-size: 18px;
        margin: 0.5rem;
    }

    .currency-dropdown-toggle {
        display: flex;
        align-items: center;
        height: 100%;
        transform: translateY(2px);
    }

    .currency-list {
        display: block;
        position: absolute;
        top: 65px;
        right: 6.3rem;
        padding: 1rem;
        padding-right: 2rem;
        background-color: var(--color-light-primary);
        box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
        cursor: default;
        font-size: 18px;
        line-height: 160%;

        // For fade-in animation
        opacity: 0;
        pointer-events: none;
        transform: translateY(-1rem);
        transition: opacity 0.1s, transform 0.1s;
        transition-timing-function: ease-out;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            cursor: pointer;

            &:not(:nth-of-type(1)) {
                padding-top: 0.5rem;
            }

            &:not(:last-of-type) {
                padding-bottom: 0.5rem;
            }
        }
    }

    &.expanded {
        .currency-list {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }

        .currency-dropdown-toggle>img {
            transform: rotateX(180deg);
        }
    }
}