.cart-content {
    .button {
        min-width: 1.5rem;
        height: 1.5rem;
        font-family: "Source Sans Pro";
        font-size: 0.875rem;
    }

    .cart-item {
        margin-top: 1.4rem;
        display: flex;
        gap: 10px;
        position: relative;


        .left {
            display: flex;
            flex-direction: column;
            width: 60%;

            p {
                margin: 0;
                line-height: 1.6rem;
                font-weight: 300;

                &.price {
                    margin-top: 0.5rem;
                    font-weight: 500;
                }
            }

            .attributes {
                margin-top: 2rem;
            }
        }

        .right {
            width: 40%;

            img {
                width: 100%;
            }
        }

        .attribute-row {
            margin-bottom: 0.75rem;

            &:last-of-type {
                margin-bottom: 2.5rem;
            }

            .name {
                margin-bottom: 0.5rem;
                font-weight: 700;
                font-size: 1.125rem;
                text-transform: uppercase;
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 0.75rem;
                width: 100%;

                .button {
                    background-color: var(--color-light-primary);
                    color: var(--color-dark-primary);
                    filter: none;
                    cursor: default !important;
                    pointer-events: none !important;


                    &:not(.selected) {
                        background-color: rgba(166, 166, 166, 0.2);
                        color: #A6A6A6;
                        border-color: #A6A6A6;

                        &.swatch {
                            background-color: inherit;
                        }
                    }

                    &.swatch {
                        width: 1.5rem;

                        &.selected {
                            outline: none;
                        }
                    }
                }
            }
        }

        .quantity-actions .button {
            padding: 0;
            font-size: 1.5rem;
            line-height: 0; // To force browser to not push down
        }
    }
}