@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import './globals';

// Wow, that's a lot of imports °-°

:root {
    --color-primary-1: #{$light-primary};
    --color-primary-2: #{$dark-primary};
    --color-secondary-1: #{$light-secondary};
    --color-secondary-2: #{$dark-secondary};
    --color-highlight: #{$highlight};
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
    color: var(--color-primary-2)
}

body {
    margin: 0;
    max-width: 100%;
    background-color: var(--color-primary-1);
}

main {
    padding: 6.3rem;
    height: 100%;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--color-primary-1);
    border: 1px solid var(--color-primary-2);
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}

#root {
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}

.bold {
    font-weight: 600;
}

.medium,
.semibold {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.attribute-selector {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    /*
        We use 'inline-flex' because we want buttons to align next to each other.
        We use 'flex' in general because we want to align text to center.
    */

    border: 1px solid var(--color-primary-2);
    padding: 0.25rem;
    background-color: var(--color-primary-1);
    width: 1.5rem;
    height: 1.5rem;

    &.horizontal {
        margin-right: 0.5rem;
    }
}

.fill-entirely {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.font-size-14 {
    font-size: 0.875rem;
}

.font-size-20 {
    font-size: 1.25rem;
}

.font-size-30 {
    font-size: 1.875rem;
}

.mr-5 {
    margin-right: 0.5rem;
}