@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import './globals';

:root {
    --color-primary-1: #{$light-primary};
    --color-primary-2: #{$dark-primary};
    --color-secondary-1: #{$light-secondary};
    --color-secondary-2: #{$dark-secondary};
    --color-highlight: #{$highlight};
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
    color: var(--color-primary-2)
}

body {
    margin: 0;
    min-height: 100%;
    max-width: 100%;
    background-color: var(--color-primary-1);
    // Product grid causes overflow, even though dev tools show nothing of the sort
    // Not my first time experiencing that, and I never knew why it happens
    //overflow-x: hidden;
}

a {
    text-decoration: none;
}