.cart-page {
    padding-right: 15.125rem;

    .cart-page-title {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 4.25rem;
    }

    .empty {
        h1 {
            margin-top: 10%;
            text-align: center;
        }
    }
}