.cart-page {
    padding-right: 15.125rem;

    .cart-page-title {
        font-weight: 700;
        font-size: 2rem;
        margin-bottom: 4.25rem;
    }

    .cart-page-empty {
        padding-left: 8.125rem;
    }
}