.product-actions {
    position: relative;

    &.out-of-stock {

        .add-to-cart,
        .button {
            opacity: 0.5;
            cursor: default;
            filter: none;
            pointer-events: none; // Disable clicking
        }
    }

    .title {
        margin-bottom: 3rem;

        h1,
        h2 {
            margin: 0;
        }

        .name {
            margin-top: 1rem;
            font-weight: 400;
        }
    }

    .attributes {
        display: flex;
        flex-direction: column;

        .attribute-row {
            margin-bottom: 2.5rem;

            .name {
                margin-bottom: 0.5rem;
                font-weight: 700;
                font-size: 1.125rem;
                text-transform: uppercase;
            }

            .buttons {
                display: flex;
                flex-wrap: wrap;
                gap: 0.75rem;
                width: 100%;
            }
        }
    }

    .price-wrapper {
        margin-bottom: 2rem;

        .label {
            margin-bottom: 0;
            font-family: "Roboto Condensed";
            font-size: 1.125rem;
            text-transform: uppercase;
        }

        .price {
            margin-top: 1rem;
            font-weight: 700;
            font-size: 1.5rem;

        }
    }

    .add-to-cart {
        display: grid;
        place-items: center;
        // position: absolute;
        // left: 0;
        // right: 0;
        min-width: max-content;
        width: 100%;
        height: 3.25rem;
        background-color: var(--color-theme);
        color: var(--color-light-primary);
        font-weight: 600;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        user-select: none;
        transition: filter 0.1s;

        &:hover {
            filter: brightness(0.9);
        }
    }

    .product-description {
        // position: absolute;
        // left: 0;
        // right: 0;
        max-width: 30rem;
        //margin-top: 5.75rem; // Button height + 2.5 rem
        margin-top: 2.5rem;
        font-family: "Roboto";
        font-size: 1rem;

        :first-child {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .product-page {
        padding-right: 13.3rem;
    }

    .product-actions {
        min-width: 15rem;
    }
}