.gallery-wrapper {
    display: flex;

    .gallery-selector {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    .gallery-item {
        object-fit: cover;
        margin-bottom: 40px;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: filter 0.1s;

        &:hover {
            filter: brightness(0.7);
        }
    }

    .thumbnail {
        width: 100%;
    }

    .thumbnail-wrapper {
        // 610/1440*100, where 610 is the width of the image and 1440 is the width of the page.
        // In theory, this should be whatever percentage the image takes up from the page width
        width: 42.36vw;

        // Note: we are wrapping thumbnail only because setting width on IMG tag does not scale
        // height to keep aspect ratio
    }
}