header {
    background-color: var(--color-primary-1);
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    padding-left: 6.3rem;
    padding-right: 6.3rem;

    .logo-wrapper {
        flex: 1;
    }

    .category-selector-wrapper {
        height: 100%;
        flex: 1;
    }

    .header-actions-wrapper {
        flex: 1;
    }

    .category-selector {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
            list-style: none;
            height: 100%;
            position: relative;

            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 1rem;
                padding-right: 1rem;
                height: 100%;
                transition: color 0.2s;
                will-change: color;

                &:hover {
                    color: var(--color-highlight);
                }
            }
        }

        .current-category {
            color: var(--color-highlight);
            font-weight: 600;
            box-shadow: 0 2px 0 var(--color-highlight);
        }
    }
}